@import 'bulma';

/* Estilos globais */
body {
  background: linear-gradient(to top right, rgb(28,136,148), rgb(68,169,100));
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
}

.container {
  padding: 4%;
}

.center {
  display: flex;
  align-items: center;
}

/* Estilos para o box dentro do elemento com id 'product' */
#product .box {
  border-radius: 10px;
}

/* Estilos para o rodapé */
.footer {
  background-color: rgb(107, 108, 109);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #fff;
}

/* Estilos para botões específicos */

.button.is-primary.is-outlined {
  background-color: #ffffff00;
  border-color: #44a964;
  color: #44a964;

  &:hover {
    background-color: #44a964;
    color: #f0ffff;
    border-color: #44a964;
  }
}

.button,
.button.is-primary {
  background-color: #44a964;
  color: #f0ffff;

  &:hover {
    background-color: #44a964;
    color: #f0ffff;
    border-color: #44a964;
  }
}

/* Estilos para a paginação */
.pagination {
  margin-top: 20px;
}

.pagination a {
  padding: 0.5rem 0.75rem;
  margin: 0 2px;
}

.pagination .page.current {
  background-color: #44a964;
  color: #fff;
}

.pagination .prev,
.pagination .next {
  margin: 0 5px;
}

.pagination .disabled {
  opacity: 0.5;
}

/* Classe de gradiente */
.is-gradient {
  background: linear-gradient(to top right, #1c8894, #44a964);
  color: #fff;
  transition: box-shadow 0.3s ease;
}
