<h1>Editar produto</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Mostrar produto", @product, class: "button" %>
  <%= link_to "Voltar", products_path, class: "button"  %>
</div>
